# This workflow validates pull requests by running unit tests and linting.
name: Validate PR

on:
  pull_request:
    branches: ['main']

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Configure node
        uses: actions/setup-node@v6.2.0
        with:
          node-version: 24.12.0

      - name: Install packages
        run: npm ci

      - name: Build
        run: npm run build

      - name: Upload build artifacts
        uses: actions/upload-artifact@v6.0.0
        with:
          name: build-artifacts
          path: |
            dist
            env.schema.js
            Dockerfile
            .dockerignore

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Configure node
        uses: actions/setup-node@v6.2.0
        with:
          node-version: 24.12.0

      - name: Install packages
        run: npm ci

      - name: Lint
        run: npm run lint

      - name: Run unit tests
        run: npm t
